<label class="control-label {{labelClass? labelClass : 'col-xs-4'}}" ng-if="!noLabel" ng-class="{ 'highlight': ngRequired }" for="{{idname}}">
   <span class="symbol" ng-class="{'required': ngRequired, 'ok': ngRequired && form.$valid}"></span>{{title}}
</label>
<div class="{{inputClass ? inputClass : 'col-xs-8'}} input-group" ng-class="{ 'has-error': form.$invalid && !ngDisabled }">
  <input
    class="form-control"
    id="{{idname}}"
    name="{{idname}}"
    type="text"
    ng-model="ngModel"
    ng-disabled="ngDisabled"
    ng-required="ngRequired"
    ng-pattern="ngPattern"
    ng-readonly="ngReadonly"
    placeholder="{{placeholder}}"
    uib-tooltip="{{errMsg}}"
    tooltip-enable="form.$invalid"
    tooltip-animation="false"/>
  <div class="input-group-btn">
    <button class="btn btn-default" ng-disabled="ngDisabled" ng-click="mbClick()">
      <i class="{{sourceData? sourceData : 'fa fa-search'}}"></i>
    </button>
  </div>
</div>
