<label class="control-label {{labelClass? labelClass : 'col-xs-4'}}" for="{{idname}}">
   <span class="symbol" ng-class="{'required': ngRequired, 'ok': ngRequired && form.$valid}"></span>{{title}}
</label>
<div class="{{inputClass ? inputClass : 'col-xs-8'}}" ng-class="{ 'has-error': form.$invalid && !ngDisabled }">
  <input class="form-control" id="{{idname}}" name="{{idname}}" type="{{type}}" ng-model="ngModel.value" ng-disabled="ngDisabled" ng-required="ngRequired" uib-tooltip="{{errMsg}}" tooltip-enable="form.$invalid" tooltip-animation="false"/>
</div>
