<label class="control-label {{labelClass? labelClass : 'col-xs-4'}}" ng-if="!noLabel" ng-class="{ 'highlight': ngRequired }" for="{{idname}}">
  <span class="symbol" ng-class="{'required': ngRequired, 'ok': ngRequired && form.$valid}"></span>{{title}}
</label>
<div class="{{inputClass ? inputClass : 'col-xs-8'}} input-group" ng-class="{ 'has-error': form.$invalid && !ngDisabled }">
  <select
    class="form-control"
    id="{{idname}}"
    name="{{idname}}"
    ng-model="ngModel"
    ng-options="{{options}}"
    ng-change="ngChange()"
    ng-disabled="ngDisabled"
    ng-required="ngRequired"
    uib-tooltip="{{errMsg}}"
    tooltip-enable="form.$invalid"
    tooltip-animation="false"></select>
</div>
