<mb-modal-header title="分配规则编辑" alerts="alerts" cancel-click="cancel()"></mb-modal-header>
<div class="modal-body body-sm" cg-busy="promise">
  <form class="form-horizontal" name="form" role="form">
    <div class="form-group">
      <div class="col-12-11-11">
        <input-combo type="text" title="规则名" idname="nam" ng-model="ruleData.nam" ng-required="true"></input-combo>
      </div>
      <div class="col-12-11-11">
        <input-combo type="select" title="规则内容" idname="value" ng-model="ruleData.value" ng-required="true" source-data="codeMaster.dividendRule"></input-combo>
      </div>
      <div class="col-12-11-11">
        <input-combo type="text" title="备注" idname="remark" ng-model="ruleData.remark"></input-combo>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
  <button class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="form.$invalid">确定</button>
</div>
