<mb-modal-header title="转订单" alerts="alerts" cancel-click="cancel()"></mb-modal-header>
<div class="modal-body body-sm" cg-busy="promise">
  <form class="form-horizontal" name="form" role="form">
    <div class="form-group">
      <div class="col-12-11-11">
        <input-combo type="text" title="车辆单价" idname="retail_price" ng-model="tagData.retail_price" ng-required="true"></input-combo>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
  <button class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="form.$invalid">确定</button>
</div>
