<div class="row sub-container" cg-busy="promise">
  <div class="div-btn-head">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default" ng-click="searchBtnEvent()">查询</button>
      <button type="button" class="btn btn-default" ng-click="addBtnEvent()">新建线索</button>
      <button type="button" class="btn btn-default" ng-click="editBtnEvent()">编辑</button>
      <button type="button" class="btn btn-default" ng-click="cancelBtnEvent()">作废</button>
      <button type="button" ngf-select accept="application/vnd.ms-excel" ng-model="uploadFile" class="btn btn-default" ng-model="uploadFile">导入线索</button>
      <button type="button" class="btn btn-default" ng-click="downloadBtnEvent()">模板下载</button>
      <button type="button" class="btn btn-default" ng-click="exportBtnEvent()">导出</button>
      <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
    </div>
  </div>
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <div class="col-12-6-3">
        <input-combo type="text" title="线索编号" idname="clueId" ng-model="filter.clueId" ng-trim="true"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="text" title="来源平台" idname="clueOrigin" ng-model="filter.clueOrigin"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="text" title="来源店铺" idname="dealerNm" ng-model="filter.dealerNm" ng-trim="true"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="select" title="业务类别" idname="businessType" ng-model="filter.businessType" source-data="codeMaster.businessType"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="select" title="线索状态" idname="status" ng-model="filter.clueStatus" source-data="codeMaster.clueStatus"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="text" title="线索级别" idname="clueLevel" ng-model="filter.clueLevel"></input-combo>
      </div>
    </div>
  </form>
  <div id="mainGrid" ui-grid="hybridObj.gridOptions" class="gridCommon gridRow10" ui-grid-selection
       ui-grid-resize-columns ui-grid-pagination ui-grid-auto-resize>
  </div>
</div>
