<div class="row sub-container" cg-busy="promise">
  <div class="div-btn-head">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default" ng-click="searchBtnEvent()">查询</button>
      <button type="button" class="btn btn-default" ng-click="exportBtnEvent()">导出</button>
    </div>
  </div>
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <div class="col-12-6-3">
        <input-combo type="date" title="起始时间" idname="bgnTim" ng-model="filter.bgnTim" err-msg="请按照指定格式输入时间。例如:2016-01-01"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="date" title="截止时间" idname="endTim" ng-model="filter.endTim" err-msg="请按照指定格式输入时间。例如:2016-01-01"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="select" title="区域" idname="area" ng-model="filter.area" source-data="area"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="select" title="省份" idname="province" ng-model="filter.province" source-data="province" ng-disabled="provinceMode"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="text" title="机会来源" idname="chanceOrigin" ng-model="filter.chanceOrigin"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="select" title="活动类别" idname="activityType" ng-model="filter.activityType" source-data="codeMaster.activityType"></input-combo>
      </div>
    </div>
  </form>
  <div id="mainGrid" ui-grid="hybridObj.gridOptions" class="gridCommon gridRow10" ui-grid-selection
       ui-grid-resize-columns ui-grid-pagination ui-grid-auto-resize>
  </div>
</div>
